.htaccess
.DS_Store
*~
wp-*.php
xmlrpc.php
wp-admin/
wp-includes/
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/plugins/
wp-content/plugins/*
sitemap.xml
sitemap.xml.gz
readme.html
license.txt

wp-content/themes/wordpress-bootstrap

wp-content/plugins/civicrm/civicrm.settings copy 2.php

wp-content/plugins/civicrm/civicrm.settings copy.php

wp-content/plugins/civicrm/civicrm.settings.php
